html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

html {
  height: 100%;
  width: 100%; }

body {
  display: grid;
  grid-template-columns: 1fr 4fr; }

.side-bar {
  display: grid;
  grid-template-rows: 6% 30% 12%;
  background-color: #36196b;
  color: #faf5ff;
  padding-inline: 8%;
  row-gap: 4%;
  border-right: solid 1px #606060; }

.nav-buttons {
  display: grid;
  grid-template-rows: repeat(auto-fill);
  row-gap: 16%; }

.nav-btn {
  width: 80%;
  color: #faf5ff;
  text-decoration: none; }

.nav-btn:hover {
  color: #c084fc;
  transform: scale(106%); }

.nav-btn > span {
  margin-left: 12%; }

.help-container {
  display: grid;
  grid-template-rows: repeat(auto-fill);
  row-gap: 2%; }

.title-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-content: start;
  padding-top: 6%;
  cursor: pointer; }

.logo-container {
  display: flex;
  height: 100%;
  align-items: center; }

.title-words > h2 {
  display: flex;
  height: 100%;
  align-items: center;
  font-size: calc(1.26rem + 1vw);
  font-weight: 600; }

.main-container {
  display: grid;
  grid-template-rows: 1fr 5fr; }

.header {
  display: grid;
  grid-template-rows: 1fr 2fr; }

.top-head {
  display: grid;
  grid-template-columns: 4fr 1fr 2fr;
  align-items: center;
  background-color: #e3d0f7;
  border-bottom: solid 1px #606060; }

.search-container {
  margin-left: 2%; }

#notifications {
  display: flex;
  justify-content: end; }

#notifications > img:hover {
  transform: scale(116%); }

#search {
  min-width: 70%;
  border-radius: 14px;
  background-color: #dcb9ff; }

#search:focus {
  background-color: #dcb9ffb5; }

.profile {
  display: flex;
  justify-content: space-evenly;
  padding-inline: 10%;
  align-items: center; }

.mid-head {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: end;
  background-color: #faf5ff;
  border-bottom: solid 1px #606060; }

.intro {
  width: max-content;
  display: grid;
  grid-template-columns: 100px 2fr;
  margin-left: 4%;
  margin-bottom: 2%; }

h4 {
  font-weight: 600; }

.content {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "project annoucements" "project trending";
  background-color: #e3d0f7;
  column-gap: 2%;
  padding-top: 4%;
  padding-inline: 2%;
  box-shadow: inset 0px 1px 6px 0px; }

.trending-container {
  margin-top: 6%;
  grid-area: trending; }

.projects-container {
  grid-area: project;
  overflow-y: scroll;
  height: 100%; }

#projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, 46%);
  gap: 6% 6%;
  height: 90%;
  justify-content: left;
  padding-top: 2%;
  overflow-y: scroll; }

.cardStyle {
  display: grid;
  grid-template-columns: 2% 1fr;
  grid-template-rows: 2fr 3fr 1fr;
  grid-template-areas: "bar title" "bar wording" "bar buttons";
  background-color: #faf5ff;
  border-radius: 8px;
  border: 2px solid #082f49;
  padding-right: 6%;
  height: 14rem;
  column-gap: 6%; }

.proj > h6 {
  grid-area: title; }

.bar {
  grid-area: bar;
  background-color: #9333ea;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px; }

.proj-buttons {
  width: 100%;
  justify-content: end;
  display: grid;
  grid-template-columns: 30px 30px 30px;
  column-gap: 6%;
  grid-area: buttons; }

.proj > p {
  grid-area: wording; }

.cardButton {
  cursor: pointer;
  background-color: none; }

.btn-logo:hover {
  transform: scale(116%); }

.btn-logo:active {
  transform: translateY(2px); }

.head-button-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 6%; }

button.head-button {
  border-radius: 16px;
  background-color: #36196b;
  color: #faf5ff;
  width: 6rem;
  height: 2rem;
  font-size: calc(0.46rem + 0.46vw); }

button.head-button:hover {
  transform: scale(102%);
  background-color: #4c1d95; }

button.head-button:active {
  transform: translateY(2px); }

.annoucement-container {
  grid-area: annoucements; }

#annoucements {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: calc(0.4rem + 0.4vw);
  border-radius: 8px;
  padding-top: 6%;
  row-gap: 16px; }

.annoucement {
  border: ridge 2px #082f49;
  border-radius: 6px;
  padding-block: 6%;
  padding-inline: 6%;
  background-color: #faf5ff;
  cursor: pointer; }

.annoucement > h6 {
  font-size: calc(0.5rem + 0.5vw);
  padding-bottom: 6%;
  border-bottom: solid 1px #606060; }

#trending {
  display: grid;
  grid-template-rows: repeat(auto-fill);
  row-gap: 6%;
  margin-top: 6%; }

.trendCard {
  display: grid;
  grid-template-columns: 50px 1fr;
  column-gap: 6%;
  justify-content: center;
  align-content: center;
  background-color: #faf5ff;
  padding-inline: 6%;
  height: 4rem;
  width: 100%;
  border: 2px ridge #36196b;
  border-radius: 6px;
  cursor: pointer; }

.trendCard > h6 {
  font-size: calc(0.5rem + 0.5vw);
  font-weight: 600; }

.trendCard:hover {
  background-color: #f2eafb; }

/*# sourceMappingURL=styles.css.map */
